<div class="container">
	<div class="col-md-10 col-xs-offset-1">
		<div>
			<h1>Stores List</h1>
		</div>
		<div>
			<%= link_to 'Create Store', new_store_path, class: 'btn btn-primary' %>
		</div>
		<div>
			<table class="table table-condense">
				<thead>
					<tr>
						<th class="text-center">Name</th>
						<th class="text-center">Address</th>
						<th class="text-center">Postcode</th>
						<th class="text-center">Province</th>
						<th class="text-center">State</th>
						<th class="text-center">Phone</th>
						<th class="text-center" colspan=2>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @stores.each do |store| %>
						<tr>
							<td><%= link_to store.name, store_path(store) %></td>
							<td><%= store.address %></td>
							<td class="text-center"><%= store.postcode %></td>
							<td><%= store.province %></td>
							<td><%= store.state %></td>
							<td class="text-center"><%= store.phone_number %></td>
							<td><%= link_to 'Edit Store', edit_store_path(store), class: 'btn btn-info btn-xs' %></td>
							<td><%= link_to 'Remove Store', store_path(store), method: :delete, data: {confirm: 'You are permanently to delete this store. Are you pretty sure want to do this action?'}, class: 'btn btn-danger btn-xs' %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>