<%= form_for @customer do |f| %>
  <div class="form-group">
    <%= f.label :name, 'name'.upcase %>
    <%= f.text_field :name, placeholder: 'Customer Name', class: 'form-control', autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :address, 'address'.upcase %>
    <%= f.text_area :address, placeholder: 'Customer Address', class: 'form-control', cols: 2, rows: 5 %>
  </div>
  <div class="form-group">
    <%= f.label :postcode, 'postcode'.upcase %>
    <%= f.text_field :postcode, placeholder: 'Customer Postcode', class: 'form-control', maxlength: 5 %>
  </div>
  <div class="form-group">
    <%= f.label :province, 'province'.upcase  %>
    <%= f.text_field :province, placeholder: 'Customer province', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :state, 'state'.upcase %>
    <%= f.text_field :state, placeholder: 'Customer State', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, 'phone number'.upcase %>
    <%= f.text_field :phone_number, placeholder: 'Customer Phone Number', class: 'form-control', maxlength: 10 %>
  </div>
  <div class="form-group">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Back', redirect_to_main_page, class: 'btn btn-danger' %>
  </div>
<% end %>
